/* 使用BEM标准 */

#todoListPage_title::before {
  display: inline-block;
  content: "";
  width: calc(50% - 60px);
  height: 0;
  margin: auto;
  margin-left: 0;
  position: relative;
  left: 0px;
  border: 1px solid #efefef;
}

#todoListPage_title::after {
  display: inline-block;
  content: "";
  width: calc(50% - 60px);
  height: 0;
  margin: auto;
  margin-right: 0;
  position: relative;
  right: 0px;
  border: 1px solid #efefef;
}

.todoListPage--right {
  right: 0;
}

.dropdown {
  min-width: 50px;
}
