.todoDrawer_layer--transparent {
  left: 0;
  top: 0;
  background-color: rgba(199, 199, 199, 0.5);
}

.todoDrawer_panel {
  background-color: #ffffff;
  border-color: #d4d4d4;
  box-shadow: 0 0 5px 5px #b7b7b7;
  right: 0;
  top:0;
  max-width: 576px;
}
