.app {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}

.app_nav {
  margin: 30px 0 10px;
}

.bordered_btn {
  border: 1px solid #dddddd;
}

.red_txt {
  color: #ff0000;
}

.gray_txt {
  color: #c9c9c9;
}

.black_txt {
  color: #000000;
}